@import 'colors';

.container {
  margin-bottom: 5rem;
}

.form-check-input {
  position: static;
  margin-left: 0;
}

.form-check-input.string {
  width: 100%;
}

.white-space-pre {
  white-space: pre;
}

.sample-account {
	border: 1px solid $color-orange;
	padding: .3rem 1.25rem .3rem 0;
	border-radius: .3rem;
	outline: none;
	display: inline-block;
	margin: 0.3rem 0;
}
