@import 'colors';

.container {
  margin-bottom: 5rem;
}

.form-check-input {
  position: static;
  margin-left: 0;
}

.form-check-input.string {
  width: 100%;
}

.white-space-pre {
  white-space: pre;
}

.sample-account {
	border: 1px solid $color-orange;
	padding: .3rem 1.25rem .3rem 0;
	border-radius: .3rem;
	outline: none;
	display: inline-block;
	margin: 0.3rem 0;
}

.recent-purchases {
  img {
    width: 100px;
    height: 100px;
  }
  display: flex;
}

.shopping_cart {
  img {
    width: 100px;
    height: 100px;
  }
  display: flex;
  flex-direction: column;
  .order-image {
    float: left;
  }
  .title,
  .price {
    float: left;
  }
  .order-info {
    clear: left;
  }
}

a.brand {
  color: $color-orange;
  font-weight: 900;
}

.product {
  &,
  img {
    width: 600px;
  }
}
