.bg-color-orange-lighten-3 color-orange-lighten-3
.bg-color-orange-lighten-2 color-orange-lighten-2
.bg-color-orange-lighten-1 color-orange-lighten-1
.bg-color-orange color-orange
.bg-color-orange-darken-1 color-orange-darken-1
.bg-color-orange-darken-2 color-orange-darken-2
.bg-color-orange-darken-3 color-orange-darken-3

.bg-color-yellow-lighten-3 color-yellow-lighten-3
.bg-color-yellow-lighten-2 color-yellow-lighten-2
.bg-color-yellow-lighten-1 color-yellow-lighten-1
.bg-color-yellow color-yellow
.bg-color-yellow-darken-1 color-yellow-darken-1
.bg-color-yellow-darken-2 color-yellow-darken-2
.bg-color-yellow-darken-3 color-yellow-darken-3
